.box{
    height: 100vh;
    display: flex;
    div:nth-child(1) {
        min-width: 200px;
    }
    div:nth-child(2) {
        min-width: 100px;
        width: 100%;
    }
    div:nth-child(3) {
        min-width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .box{
        overflow: auto;
    }
}